<script>
    function openModal(imageSrc) {
        const modal = document.querySelector('.modal');
        const modalImage = document.getElementById('modalImage');

        modalImage.src = imageSrc;
        modal.style.display = 'flex';
    }

    function deleteImage(imageSrc) {
        if (confirm('Are you sure you want to delete this image?')) {
            // Prepare the JSON data to send as the request body
            const requestData = {
                image_to_delete: imageSrc
            };

            // Call the backend to delete the image from the server
            fetch('/delete_image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' // Set the correct Content-Type header
                },
                body: JSON.stringify(requestData) // Send the JSON data as the request body
            }).then(response => {
                // Handle the response if needed
                // For example, you can reload the page to update the gallery
                location.reload();
            }).catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>

<div class="gallery">
    {% for img in image_list %}
        <div class="gallery-item">
            {% set img_url = url_for('static', filename='data/' + json_data['uuid'] + '/' + img) %}
            <img src="{{ img_url }}" alt="Gallery Image" onclick="openModal('{{ img_url }}')">
            <br>
            {{ img }}
            <br>
            <button onclick="deleteImage('{{ img }}')">Delete</button>
        </div>
    {% endfor %}
</div>