<!-- Display input better for multi line and long text -->
<!-- Display Images and Add Button that server could delete images if they don't need -->

<!DOCTYPE html>
<html>
<head>
    <title>Edit Data</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <style>
    </style>
    <script>
        function openModal(imageSrc) {
            const modal = document.querySelector('.modal');
            const modalImage = document.getElementById('modalImage');

            modalImage.src = imageSrc;
            modal.style.display = 'flex';
        }

        function closeModal() {
            const modal = document.querySelector('.modal');
            modal.style.display = 'none';
        }

        function convertToFormattedJson(jsonStr) {
            try {
                jsonStr = jsonStr.replace(/'/g, '"')
                // Convert the JSON string to a JavaScript object
                // fix this error (index):35 Invalid JSON data: SyntaxError: Expected ',' or '}'
                const jsonObj = JSON.parse(jsonStr);
                // Convert the JavaScript object to a JSON string with indentation
                return JSON.stringify(jsonObj, null, 2);                
            } catch (error) {
                console.error('Invalid JSON data:', error);
                console.error('JSON Data:', jsonStr);
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            // const preElement = document.getElementById("json_display");
            // // Check if the pre element exists before proceeding
            // if (preElement === null)
            //     return;

            // const jsonStr = preElement.textContent.trim();
            // preElement.textContent = convertToFormattedJson(jsonStr);
        });
    </script>
</head>
<body>
    <h1>Edit JSON Data:</h1>
        <label for="name">Topic:</label>
        <textarea id="topic" name="topic" rows="1">{{ json_data['topic'] }}</textarea><br>

        <label for="name">Title:</label>
        <textarea id="title" name="title" rows="1">{{ json_data['title'] }}</textarea><br>

        <label for="name">UUID:</label>
        <textarea id="uuid" name="uuid" rows="1">{{ json_data['uuid'] }}</textarea><br>

        <label for="name">Language:</label>
        <textarea id="lang" name="lang" rows="1">{{ json_data['lang'] }}</textarea><br>

        <label for="name">Intro:</label>
        <textarea id="intro" name="intro" rows="5">{{ json_data['intro']['content'] }}</textarea><br>

        <label for="name">Images:</label>
        {% set image_list = json_data['intro']['images'] %}
        {% set heading_index = 0 %}
        {% include 'gallery_template.html' %}
        <br>

         <!-- Display Main -->
        {% for main in json_data['main'] %}
            <label for="name">Heading:</label>
            <textarea id="heading" name="heading" rows="1">{{ main['heading'] }}</textarea><br>

            <label for="name">Tag:</label>
            <textarea id="tag" name="tag" rows="1">{{ main['tag'] }}</textarea><br>

            <label for="name">Detail:</label>
            <textarea id="detail" name="detail" rows="5">{{ main['detail']['content'] }}</textarea><br>

            <label for="name">Images:</label>
            {% set image_list = main['detail']['images'] %}
            {% set heading_index = heading_index + 1 %}
            {% include 'gallery_template.html' %}
            <br>
        {% endfor %}

        <label for="name">Conclusion:</label>
        <textarea id="conclusion" name="conclusion" rows="5">{{ json_data['conclusion']['content'] }}</textarea><br>

        <label for="name">Images:</label>
        {% set image_list = json_data['conclusion']['images'] %}
        {% set heading_index = heading_index + 1 %}
        {% include 'gallery_template.html' %}

        <p>
            <input type="submit" value="Save">
        </p>

        
    <form method="post">  
    </form>

    <h1>JSON Data:</h1>
    <pre id="json_display" class="json-viewer">{{ json_data | safe }}</pre>
    
    <!-- Full-size Image Modal -->
    <div class="modal" onclick="closeModal()">
        <img id="modalImage" src="" alt="Full-size Image">
    </div>
</body>
</html>
