## Common
beautifulsoup4
validators
googletrans==4.0.0-rc1

## Youtube
yt-dlp
SpeechRecognition
opencv-python
moviepy

## AI
openai
hugchat
PyKakao
## AI Embed
jsonlines
tiktoken

## google search
pytrends
google-api-python-client
google-cloud-translate
## news
feedparser
## files
PyMuPDF
docx
python-docx
## wiki
wikipedia-api

## image search
bing-image-downloader
Google-Images-Search
windows-curses

## test
pytest


# back end
Flask