## Common
beautifulsoup4
validators

## Youtube
yt-dlp
SpeechRecognition
opencv-python
moviepy

## AI
openai
PyKakao
## AI Embed
jsonlines
tiktoken

## google search
pytrends
google-api-python-client
## news
feedparser
## files
PyMuPDF
docx
python-docx
## wiki
wikipedia-api

## image search
bing-image-downloader
Google-Images-Search
windows-curses