## Common
beautifulsoup4
validators
googletrans==4.0.0-rc1

## Youtube
yt-dlp
SpeechRecognition
opencv-python
moviepy

# ## Youtube upload
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib
# oauth2client

## Youtube upload - 3rd party
selenium_youtube
selenium_chrome
undetected-chromedriver
selenium_firefox==0.2.7
selenium==4.9.1

## AI
openai
hugchat
PyKakao
## AI Embed
jsonlines
tiktoken

## google search
pytrends
google-api-python-client
google-cloud-translate
## news
feedparser
## files
PyMuPDF
docx
python-docx
## wiki
wikipedia-api

## image search
bing-image-downloader
Google-Images-Search
windows-curses

## test
pytest

# back end
Flask

#ML
tensorflow_hub
matplotlib